body{
    background-image: url("Pictures/Other/background.png");
}
p{
    color:white
}
#wdiv{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 200px;
}
#welcomebutton{
    border:none;
    background-color: inherit;
    color: white;
    font-family: "Montserrat light";
    font-size: 15px;
}
#welcomebutton:hover{
    border:none;
    background-color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

#welcome{
    font-family: "Montserrat Black";
    color: white;
    font-size: 70px;
}


#logo{
    height: 70px;
    width: 70px;
}

.toolbox{
    color:white;
    
}

li{
    color: white;
    display: inline;
    font-family: "Montserrat light";
    padding: 50px;
    width: 50%;
    margin: auto;
}
.toolbar{
    border:none;
    background-color: inherit;
    color: white;
    font-family: "Montserrat light";
    font-size: 15px;
}
.toolbar:hover{
    text-decoration: underline;
    cursor: pointer;
}

select{
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    padding: 10px;
}
select:hover{
    
}